:root {
  --blue: hsl(219, 85%, 26%);
  --red: hsl(1, 90%, 64%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  background-color: var(--very-light-grayish-blue);
  color: var(--dark-grayish-blue);
}
a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
}
a:hover {
  color: var(--blue);
}
a.club {
  color: var(--blue);
}
main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notifications {
  width: 700px;
  background-color: var(--white);
  padding: 24px;
  border-radius: 10px;
  /* box-shadow: 0 0 10px  0 var(--grayish-blue); */
}

.notifications .text-notification a {
  font-weight: 800;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title > h1 {
  font-size: 24px;
  color: var(--very-dark-blue);
}
.badge {
  font-size: 16px;
  background-color: var(--blue);
  padding: 0px 7px;
  margin-left: 10px;
  color: var(--white);
  border-radius: 5px;
}
.notifications > div {
  padding: 12px;
  margin-bottom: 12px;
}
.notification {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 48px 1fr;
  grid-template-areas:
    "avatar text-notification"
    "avatar date-nofication";
}
.w-picture {
  display: grid;
  column-gap: 15px;
  grid-template-columns: 48px 1fr 48px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "avatar text-nofication picture"
    "avatar date-notification picture";
}
.w-picture .picture {
  width: 48px;
  grid-area: picture;
}
.w-picture .picture:hover {
  background-color: var(--light-grayish-blue-1);
}
.notification .avatar,
.w-picture .avatar {
  width: 48px;
  grid-area: avatar;
}
.new > .text-notification::after {
  content: " ●";
  color: var(--red);
}
.notification .date-notification {
  grid-column-start: 2;
}
.message {
  margin-top: 12px;
  grid-column-start: 2;
  padding: 12px;
  border: 1px solid var(--light-grayish-blue-2);
  border-radius: 5px;
  cursor: pointer;
}
.message:hover {
  background-color: var(--light-grayish-blue-1);
  border: 1px solid var(--light-grayish-blue-1);
}
.new {
  background-color: var(--very-light-grayish-blue);
  border-radius: 10px;
}
@media screen and (max-width: 375px) {
  .notifications {
    width: 100%;
    padding: 0;
  }
}
